<div class="container">
  <section>
    <h2 class="text-center mb-3 title">S'inscrire</h2>

    <div class="text-center mb-3 d-flex justify-content-center align-items-center">
      <img src="images/icon.png" alt="Site Icon" width="150" height="150" />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- Row for Nom and Prenom inputs -->
      <div class="row mb-4">
        <!-- Nom input -->


        <!-- Prenom input -->
        <div class="col-md-6">
          <div class="form-outline">
            <input
              type="text"
              formControlName="prenom"
              class="form-control"
              placeholder="Entrez votre prénom"
              required
            />
            <div *ngIf="loginForm.get('prenom')?.invalid && (loginForm.get('prenom')?.touched || loginForm.get('prenom')?.dirty)" class="text-danger">
              Le prénom est requis.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-outline">
            <input
              type="text"
              formControlName="nom"
              class="form-control"
              placeholder="Entrez votre nom"
              required
            />
            <div *ngIf="loginForm.get('nom')?.invalid && (loginForm.get('nom')?.touched || loginForm.get('nom')?.dirty)" class="text-danger">
              Le nom est requis.
            </div>
          </div>
        </div>

      </div>

      <!-- Row for Telephone 1 and Telephone 2 inputs -->
      <div class="row mb-4">
        <!-- Telephone 1 input -->
        <div class="col-md-6">
          <div class="form-outline">
            <input
              type="tel"
              formControlName="telephone1"
              class="form-control"
              placeholder="Entrez votre téléphone 1"
              required
            />
            <div *ngIf="loginForm.get('telephone1')?.invalid && (loginForm.get('telephone1')?.touched || loginForm.get('telephone1')?.dirty)" class="text-danger">
              Le numéro de téléphone est requis (10-12 chiffres).
            </div>
          </div>
        </div>

        <!-- Telephone 2 input -->
        <div class="col-md-6">
          <div class="form-outline">
            <input
              type="tel"
              formControlName="telephone2"
              class="form-control"
              placeholder="Entrez votre téléphone 2 (optionnel)"
            />
            <div *ngIf="loginForm.get('telephone2')?.invalid && (loginForm.get('telephone2')?.touched || loginForm.get('telephone2')?.dirty)" class="text-danger">
              Le numéro de téléphone doit contenir entre 10 et 12 chiffres.
            </div>
          </div>
        </div>
      </div>

      <!-- Date de Naissance input -->
      <div class="form-outline mb-4">
        <input
          type="date"
          formControlName="dateDeNaissance"
          class="form-control"
          placeholder="Entrez votre date de naissance"
          required
        />
        <div *ngIf="loginForm.get('dateDeNaissance')?.invalid && (loginForm.get('dateDeNaissance')?.touched || loginForm.get('dateDeNaissance')?.dirty)" class="text-danger">
          La date de naissance est requise.
        </div>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="Entrez votre email"
          required
        />
        <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)" class="text-danger">
          <div *ngIf="loginForm.get('email')?.errors?.['required']">L'email est requis.</div>
          <div *ngIf="loginForm.get('email')?.errors?.['email']">Veuillez entrer une adresse e-mail valide.</div>
        </div>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="Entrez votre mot de passe"
          required
        />
        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)" class="text-danger">
          <div *ngIf="loginForm.get('password')?.errors?.['required']">Le mot de passe est requis.</div>
          <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Le mot de passe doit contenir au moins 8 caractères.</div>
          <div *ngIf="loginForm.get('password')?.errors?.['pattern']">Le mot de passe doit contenir au moins un chiffre et un caractère spécial.</div>
        </div>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="loginForm.invalid">S'inscrire</button>

      <!-- Login link -->
      <div class="text-center">
        <p>Déjà membre ? <a routerLink="/login" class="text-primary">Connectez-vous</a></p>
      </div>

    </form>
  </section>
</div>
