<app-header></app-header>

<div class="mt-2 text-center">
  <h1 class="text-align-center mt-2">liste des Lives non acceptée</h1>
</div>

<div class="container p-2">
  <div class="input-group">
    <div class="form-outline search">
      <input
        id="search-input"
        type="search"
        class="form-control"
        placeholder="Recherche"
        [(ngModel)]="searchQuery"
        (input)="filterItems()"
      />
    </div>
  </div>

  <table class="table table-bordered" style="margin-top: 10px;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titre</th>
        <th scope="col">Nbr de page</th>
        <th scope="col">Auther</th>
        <th scope="col">Statut</th>
        <th scope="col">Modifier</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredItems; let i = index">
        <th scope="row">{{ (currentPage - 1) * pageSize + i + 1 }}</th>
        <td>{{ user.titre }}</td>
        <td>{{ user.nbrPage }}</td>
        <td>{{ user.idAuther !== undefined ? authorMap[user.idAuther] : 'Unknown Author' }}</td>
        <td>{{ user.statut }}</td>
        <td *ngIf="user.statut === false" (click)="modifierUser(user)">
            <a class="btn btn-warning">Activer</a>
        </td>
        <td *ngIf="user.statut === true" (click)="modifierUser(user)">
            <a class="btn btn-warning">Désactiver</a>
        </td>
    </tr>

    </tbody>
  </table>

  <!-- Pagination Controls -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
      </li>
      <li
        class="page-item"
        *ngFor="let page of [].constructor(totalPages()); let i = index"
        [class.active]="currentPage === i + 1"
      >
        <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages()">
        <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>

<div class="text-center">
  <button (click)="retour()" type="button" class="btn btn-danger m-4"  >Retour</button>
  <button (click)="save()" type="button" class="btn btn-primary" >Ajouter</button>

</div>

