<div class="login-container">
  <section>
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="card-body p-5 text-center">
        <div class="">
          <h2 class="fw-bold title">Confirmer votre compte</h2>
          <p class="text-white-50">Veuillez saisir le code qui a été envoyé dans votre email</p><br>
          <img src="images/security.png" alt="security" width="170" height="170">
          <div class="pin-input-container mt-4">
            <input [(ngModel)]="code.a1" type="text" class="pin-input" maxlength="1"
              (input)="onInput(input1, 'a1', $event)" (keydown)="onKeyDown($event, input1, 'a1')" #input1>
            <input [(ngModel)]="code.a2" type="text" class="pin-input" maxlength="1"
              (input)="onInput(input2, 'a2', $event)" (keydown)="onKeyDown($event, input2, 'a2')" #input2>
            <input [(ngModel)]="code.a3" type="text" class="pin-input" maxlength="1"
              (input)="onInput(input3, 'a3', $event)" (keydown)="onKeyDown($event, input3, 'a3')" #input3>
            <input [(ngModel)]="code.a4" type="text" class="pin-input" maxlength="1"
              (input)="onInput(input4, 'a4', $event)" (keydown)="onKeyDown($event, input4, 'a4')" #input4>
            <input [(ngModel)]="code.a5" type="text" class="pin-input" maxlength="1"
              (input)="onInput(input5, 'a5', $event)" (keydown)="onKeyDown($event, input5, 'a5')" #input5>
            <input [(ngModel)]="code.a6" type="text" class="pin-input" maxlength="1"
              (input)="onInput(input6, 'a6', $event)" (keydown)="onKeyDown($event, input6, 'a6')" #input6>
          </div>


          <div class="small text-danger mt-2" id="codeError">{{ codeError }}</div>

          <button (click)="continue()" class="btn btn-outline btn-lg px-5 mb-4 mt-4" type="submit"
            style="width: 350px; height: 50px;">Continuer</button>

          <div class="border-bottom mx-0 mt-3"></div>
          <div>
            <p class="mt-2 mb-0">Vous n'avez pas de compte ?</p>
            <a routerLink="/register" class="text-50 fw-bold">Créer un nouveau compte</a>
          </div>
          <div>
            <p class="mt-2 mb-0">Vous avez déjà un compte ?</p>
            <a routerLink="/login" class="text-50 fw-bold">Se connecter</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
