<div class="admin-icon-container ">
  <a routerLink="/liste-member">
    <div class="admin-icon">
      <img src="images/comptes.png" height="300" width="300" alt="Comptes">
    </div>
    <b style="  margin-left: 200px ;">Liste de membres</b>

  </a>
  <a routerLink="/liste-auther">
    <div class="admin-icon">
      <img src="images/auther.png" height="300" width="300" alt="Profile">
    </div>
    <b>liste d'auteurs</b>

  </a>

  <a routerLink="/liste-livre">
    <div class="admin-icon">
      <img src="images/livres.png" height="300" width="300" alt="Profile">
    </div>
    <b>Liste de livres</b>

  </a>

</div>

<div class="admin-icon-container ">
  <a routerLink="/profile-bibliothecaire">
    <div class="admin-icon">
      <img src="images/profile.png" height="300" width="300" alt="Comptes">
    </div>
    <b style="  margin-left: 250px ;">Profile</b>
  </a>
  <a routerLink="/login">
    <div class="admin-icon">
      <img src="images/logout.png" height="300" width="300" alt="Comptes">
    </div>
    <b>Deconnexion</b>
  </a>

</div>
