<div class="admin-icon-container">
  <a routerLink="/liste-member">
    <div class="admin-icon">
      <img src="images/comptes.png" height="300" width="300" alt="Comptes">
    </div>
    <b>Liste de membres</b>
  </a>

  <a routerLink="/liste-auther">
    <div class="admin-icon">
      <img src="images/auther.png" height="300" width="300" alt="Profile">
    </div>
    <b>Liste d'auteurs</b>
  </a>

  <a routerLink="/liste-bibliothecaire">
    <div class="admin-icon">
      <img src="images/bibliothecaire.png" height="300" width="300" alt="Profile">
    </div>
    <b>Liste de bibliothecaires</b>
  </a>

  <a routerLink="/liste-reservation-and-emprunt">
    <div class="admin-icon">
      <img src="images/emprunter.png" height="300" width="300" alt="Profile">
    </div>
    <b>Liste de Réservations et Emprunt</b>
  </a>
</div>

<div class="admin-icon-container">
  <a routerLink="/liste-livre">
    <div class="admin-icon">
      <img src="images/livres.png" height="300" width="300" alt="Profile">
    </div>
    <b>Liste de livres</b>
  </a>

  <a routerLink="/profile-bibliothecaire">
    <div class="admin-icon">
      <img src="images/profile.png" height="300" width="300" alt="Comptes">
    </div>
    <b>Profile</b>
  </a>

  <a routerLink="/login">
    <div class="admin-icon">
      <img src="images/logout.png" height="300" width="300" alt="Comptes">
    </div>
    <b>Déconnexion</b>
  </a>
</div>
