.app-name {
  flex: 1; /* This will make it take the available space on the left */
}

.icon-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.user-name {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}



