<div class="login-container">
  <section>
    <div class="row d-flex justify-content-center align-items-center ">
          <div class="card-body p-2 text-center">



              <h2 class="fw-bold mb-2">Mot de passe oublié</h2>
              <p class="text-50 ">Veuillez saisir votre email !</p><br>

              <img src="images/security.png" alt="" width="250" height="250" >

              <div class="form-outline form-white   mt-5">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-envelope"></i>
                      </span>
                  <input
                    [(ngModel)]="email" type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="Email" />
                </div>
                <div class="small text-danger mt-2" id="emailError">{{emailError}}</div>
              </div>


              <button (click)="continue()" class="btn btn-outline btn-lg px-5 mb-4" type="submit" style="width: 350px; height: 50px; border: 2px black solid;">Continue</button>

              <div class="border-bottom mx-0 mt-3"></div>
              <div>
                <p class="mt-2 mb-0">Vous n'avez pas de compte ?</p>
                <a routerLink="/register" class="text-50 fw-bold">Construire un nouveau compte</a>
              </div>
              <div>
                  <p class="mt-2 mb-0">Vous avez contient un compte ?</p>
                <a routerLink="/login" class="text-50 fw-bold">Connecter</a>
              </div>
            </div>
      </div>
</section>
</div>
